html{
    padding: 0;
    margin: 0;
}

p{
    line-height: 1.2px;
}

a{
    color: blue;
}

a,span{
    line-height: 1px;
}


// div{
//     height: 100vh;
//     width: 100%;
//     background-color: red;
// }